--root {
  --day_one: #9b3022;
  --day_two: #ae4612;
  --day_three: #bb3e03; 
  --day_four: #ca6702;
  --day_five: #EE9B00;
  --noon: #E9D8A6;
  --night_two: #94d2bd;
  --night_three: #0a9396;
  --night_one: #0a6a96;
  --night_four: #023e4b;
  --night_five: #001219;
}

.App {
  background-color: #282c34;
  text-align: center;
  font-size: 20px;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
